@import url('../spinner/spinner.css');
@import url('../pagination/pagination.css');
@import url('../alert/alert.css');
@import url('../greetings/greetings.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media (min-width: 420px) {
  body {
    margin: 0px;
    background-color: #e5e5e5;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }

  .body {
    width: 420px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .movies-list {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 0px;
  }

  .movi-card {
    width: 378px;
    height: 245px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    padding-right: 1px;
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
    display: inline-block;
  }

  .movi-card-description {
    padding-left: 13px;
    display: flex;
    flex-direction: column;
    margin-right: 0px;
  }

  .movi-card__img {
    width: 60px;
    height: 91px;
    float: left;
    margin-left: 10px;
  }

  .not-found {
    font-size: 50px;
    background-color: gray;
    text-align: center;
  }

  .movi-card-description__film-name {
    font-size: 18px;
    line-height: 25px;
    margin-top: 4px;
    margin-bottom: 0px;
    max-width: 240px;
  }

  .movi-card-description__release-date {
    width: auto;
    height: 20px;
    color: rgba(130, 126, 126, 1);
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .movi-card-description__description {
    margin-top: 10px;
    line-height: 20px;
    padding-right: 10px;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-left: -72px;
  }

  .movi-card-description__rating {
    position: absolute;
    right: 15px;
    top: 20px;
    padding: 8px;
    border-radius: 50%;
  }

  .movi-card-description__genre {
    border-radius: 2px;
    border: 1px solid #d9d9d9;
    background: #fafafa;
    margin-right: 8px;
    margin-top: 5px;
    padding: 2px 4px 2px 4px;
    size: 12px;
  }

  .movi-card-description__genres {
    display: flex;
    flex-wrap: wrap;
    min-height: 30px;
  }

  .ant-rate {
    font-size: 17px;
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: auto;
  }

  .movi-card-description__rating--red {
    border: 2px solid #e90000;
  }

  .movi-card-description__rating--orandge {
    border: 2px solid #e97e00;
  }

  .movi-card-description__rating--yellow {
    border: 2px solid #e9d100;
  }

  .movi-card-description__rating--green {
    border: 2px solid #66e900;
  }

  .tabs {
    width: 110px;
  }

  div.ant-tabs-nav {
    position: absolute;
    left: 11em;
  }

  .movie {
    margin-top: 20px;
  }

  .search {
    width: 370px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-left: 16px;
    margin-top: 20px;
    padding-left: 12px;
  }
}

@media (min-width: 1440px) {
  .body {
    width: 1010px;
    margin: 0px 215px 0px 215px;
  }

  .movies-list {
    display: grid;
    grid-template-columns: 454px 454px;
    column-gap: 36px;
    margin-left: 36px;
  }

  .movi-card {
    width: 454px;
    height: 281px;
    box-shadow: 5px 5px 10px rgba(217, 217, 217, 1);
    margin-left: 0px;
  }

  .movi-card-description {
    max-width: 228px;
    max-height: 281px;
    padding-left: 20px;
    overflow: hidden;
  }

  .movi-card__img {
    width: 183px;
    height: 281px;
    margin-left: 0px;
  }

  .not-found {
    font-size: 150px;
    background-color: gray;
    text-align: center;
  }

  .movi-card-description__film-name {
    margin-top: 10px;
    max-width: 180px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .movi-card-description__description {
    margin-left: 0px;
  }

  .movi-card-description__genres {
    min-height: 0px;
  }

  .ant-rate {
    font-size: 15px;
  }

  div.ant-tabs-nav {
    left: 350%;
  }

  .search {
    width: 935px;
    margin-left: 36px;
  }

  .movie {
    margin-top: 32px;
  }
}
